.banner {
  padding-top: 235px;
  padding-bottom: 83px;
  background-image: url("../img/sprite.svg#phones");
  background-repeat: no-repeat;
  background-size: 802px 497px;
  background-position: top 31px right 81px;

  @include laptop {
    padding-top: 207px;
    padding-bottom: 55px;
    background-size: 614px 417px;
    background-position: top 44px right -59px;
  }

  @include tablet {
    padding-top: 476px;
    padding-bottom: 40px;
    background-position: top 23px center;
  }

  @include phone {
    padding-top: 325px;
    padding-bottom: 30px;
    background-size: 400px 260px;
    background-position: top 25px center;
  }

  &__container {
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    margin-bottom: 20px;

    @include tablet {
      text-align: center;
    }

    @include phone {
      margin-bottom: 10px;
    }
  }

  &__description {
    margin-bottom: 47px;
    max-width: 380px;

    @include tablet {
      text-align: center;
    }

    @include phone {
      margin-bottom: 30px;
    }
  }

  &__button {
    padding: 23px 103px;

    @include phone {
      padding: 14px 64px;
      width: 100%;
    }
  }
}