.button {
  position: relative;
  display: inline-block;
  z-index: 3;
  border-radius: 10px;
  background-image: $gradient;
  font-family: inherit;
  font-size: 18px;
  line-height: 24.55px;
  color: $white;
  text-align: center;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.3s;
  }

  &::before {
    background-image: $gradient--dark;
  }

  &::after {
    background-image: $gradient--light;
  }

  &:hover {
    &::before {
      @media (hover: hover) and (pointer: fine) {
        opacity: 1;
      }
    }
  }

  &:active {
    &::after {
      opacity: 1;
    }
  }

  &:disabled {
    pointer-events: none;
    background: $disabled;
  }

  @include phone {
    font-size: 16px;
    line-height: 21.82px;
  }
}