.container {
  padding: 0 130px;
  max-width: 1440px;
  margin: 0 auto;

  @include laptop {
    padding: 0 22px;
    max-width: 1024px;
  }

  @include tablet {
    padding: 0 94px;
    max-width: 768px;
  }

  @include phone {
    padding: 0 15px;
    max-width: none;
  }
}

