.footer {
  padding-top: 65px;
  padding-bottom: 55px;
  background: $gradient;
  color: $white;

  @include tablet {
    padding-top: 60px;
    padding-bottom: 26px;
  }

  @include phone {
    padding-top: 40px;
    padding-bottom: 13px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
    gap: 60px;

    @include laptop {
      margin-bottom: 0;
      gap: 20px;
    }

    @include tablet {
      flex-wrap: wrap;
      margin-bottom: 65px;
      gap: 15px 20px;
    }

    @include phone {
      margin-bottom: 55px;
      gap: 10px;
    }
  }

  &__logo {
    display: block;

    @include laptop {
      padding-right: 23px;
    }

    @include tablet {
      padding: 0;
      flex-basis: 100%;
    }

    @include phone {
      padding-bottom: 10px;
    }
  }

  &__svg {
    min-width: 141px;
    height: 48px;
    object-fit: cover;
  }

  &__navigation,
  &__contacts,
  &__map {
    padding-top: 10px;

    @include tablet {
      padding-top: 0;
    }
  }

  &__navigation {
    flex-shrink: 0;

    @include phone {
      flex-basis: 100%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include tablet {
      gap: 14px;
    }

    @include phone {
      gap: 7px;
    }
  }

  &__link {
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $white;
      height: 1px;
      width: 0;
      transition: width .2s ease-in-out;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  &__contacts {
    padding-left: 10px;
    max-width: 274px;
    font-weight: 700;

    @include laptop {
      max-width: 200px;
    }

    @include tablet {
      max-width: 340px;
      padding-left: 0;
    }

    @include phone {
      padding-top: 10px;
    }
  }

  &__contacts-title {
    margin-bottom: 15px;

    @include phone {
      margin-bottom: 8px;
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include phone {
      gap: 7px;
    }
  }

  &__tel,
  &__mail {
    transition: transform .2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__media {
    padding-top: 5px;
    display: flex;
    gap: 18px;

    @include phone {
      padding-top: 13px;
    }
  }

  &__icon-link {
    color: $purple--dark;
    transition: color 0.2s;

    &:hover {
      color: $purple;
    }
  }

  &__map {
    width: 420px;
    height: 200px;
    transform: scale(1.12, 1.05) translate(-20px, 5px);

    @include laptop {
      width: 385px;
      height: 200px;
      transform: scale(1.02, 1.05) translate(-3px, 5px);
    }

    @include tablet {
      flex-basis: 100%;
      padding-top: 20px;
      height: 260px;
      transform: scaleY(1.05);
    }

    @include phone {
      padding-top: 24px;
      height: 180px;
      transform: scaleY(1.1);
    }
  }
}