.header {
  padding-top: 20px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: block;

    @include tablet {
      z-index: 10;
    }
  }

  &__svg {
    width: 139px;
    height: 38px;
    object-fit: cover;
  }

  &__menu-button {
    display: none;

    @include tablet {
      display: block;
      width: 18px;
      height: 12px;
      z-index: 10;
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='12' viewBox='0 0 18 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 12H18V10H0V12ZM0 7H18V5H0V7ZM0 0V2H18V0H0Z' fill='white'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transition: all 0.1s;

      &_close {
        width: 14px;
        height: 14px;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z' fill='%23210B36'/%3E%3C/svg%3E%0A");

        &:active {
          transform: scale(2);
          background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='28' height='28' rx='14' fill='%23DFD4EB'/%3E%3Cpath d='M21 8.41L19.59 7L14 12.59L8.41 7L7 8.41L12.59 14L7 19.59L8.41 21L14 15.41L19.59 21L21 19.59L15.41 14L21 8.41Z' fill='%23210B36'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }

  &__navigation {
    @include tablet {
      position: absolute;
      top: -300px;
      left: 0;
      right: 0;
      background-color: $white;
      border-image: $gradient 30;
      border-width: 0 0 2px 0;
      border-style: solid;
      transition: top 0.2s;

      &_active {
        top: 0;
        z-index: 3;
      }
    }
  }

  &__list {
    display: flex;
    gap: 40px;

    @include tablet {
      flex-direction: column;
      padding: 94px 94px 36px;
      max-width: 768px;
      margin: 0 auto;
      gap: 20px;
    }

    @include phone {
      padding: 94px 15px 36px;
      max-width: 320px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: $white;

    &::after {
      content: "";
      display: block;
      background-color: $white;
      height: 1px;
      width: 0;
      transition: width .2s ease-in-out;
    }

    &:hover {
      @media (hover: hover) and (pointer: fine) {
        &::after {
          width: 100%;
        }
      }
    }

    @include tablet {
      color: $black;
    }
  }
}