.registration {
  padding: 70px 0;
  background-color: $purple--light;

  @include tablet {
    padding: 60px 0;
  }

  @include phone {
    padding: 40px 0;
  }

  &__title {
    margin-bottom: 30px;
    max-width: 780px;

    @include tablet {
      margin-bottom: 20px;
    }

    @include phone {
      margin-bottom: 10px;
    }
  }

  &__description {
    margin-bottom: 60px;
    font-size: 30px;
    line-height: 36px;

    @include laptop {
      margin-bottom: 67px;
      font-size: 24px;
      line-height: 28.8px;
    }

    @include tablet {
      margin-bottom: 50px;
    }

    @include phone {
      margin-bottom: 25px;
      max-width: 210px;
      font-size: 17px;
      line-height: 20.4px;
    }
  }

  &__button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    gap: 40px;

    @include phone {
      margin-bottom: 10px;
      gap: 20px;
    }
  }

  &__button {
    width: 50px;
    height: 50px;
    background: $white;
    border-radius: 50%;
    border: 2px solid $purple--dark;
    font-size: 30px;
    line-height: 41px;
    color: $purple--dark;

    @include phone {
      width: 33px;
      height: 33px;
      font-size: 18px;
      line-height: 25px;
    }
  }

  &__fieldset {
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
    opacity: 0;

    @include tablet {
      gap: 10px;
    }

    @include phone {
      gap: 15px;
    }

    &_active {
      display: flex;
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    flex-basis: 380px;

    @include laptop {
      flex-basis: 315px;
    }

    @include tablet {
      flex-basis: 100%;

      &:last-of-type {
        margin-bottom: 30px;
      }
    }

    @include phone {
      flex-basis: 280px;

      &:last-of-type {
        margin-bottom: 16px;
      }
    }
  }

  &__field-title {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;

    @include phone {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__input {
    padding: 20px;
    width: 100%;
    height: 70px;
    border: 2px solid $gray;
    border-radius: 10px;
    transition: border-color .2s;

    &:hover,
    &:focus {
      border-color: $purple;
    }

    &:active {
      border-color: $purple--dark;
    }

    @include phone {
      height: 50px;
    }
  }

  &__next-button {
    padding: 22px 163px;
    margin-left: auto;

    @include laptop {
      padding: 22px 130px;
    }

    @include tablet {
      flex-basis: 100%;
    }

    @include phone {
      padding: 14px 112px;
      flex-basis: 280px;
      margin: 0;
    }

    &_no-margin {
      margin-left: 0;
      margin-top: auto;
    }
  }

  &__submit-button {
    padding: 22px 102px;
    margin-left: auto;

    @include laptop {
      padding: 22px 70px;
    }

    @include tablet {
      flex-basis: 100%;
    }

    @include phone {
      padding: 14px 63px;
      flex-basis: 280px;
      margin: 0;
    }
  }
}