$black: #210B36;
$white: #FFFFFF;
$purple: #B865D6;
$purple--light: #EEE2FA;
$purple--dark: #6E479E;
$gray: #C6B6D7;
$disabled: #B0B0B0;
$gradient: linear-gradient(87.4deg, #2E00B1 -11.74%, #8100BD 48.81%, #A400BE 113.27%);
$gradient--dark: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), linear-gradient(87.4deg, #2E00B1 -11.74%, #8100BD 48.81%, #A400BE 113.27%);
$gradient--light: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(87.4deg, #2E00B1 -11.74%, #8100BD 48.81%, #A400BE 113.27%);